PORT=3001
DESTINATION_EMAIL=hello@nurexa.ca
SMTP_HOST=your_smtp_host
SMTP_PORT=587
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
SMTP_SECURE=false
SMTP_FROM="Nurexa Website <no-reply@nurexa.ca>"
GOOGLE_FORM_ENDPOINT=https://docs.google.com/forms/d/e/1FAIpQLSdByRKkubmZXp_Com_9MvhlIFjIhthoEzoYpbznf_q4zl9MRg/formResponse
